.navbar {
  background-color: aqua;
  height: 75px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202124;
  border: 1px solid #35363a;
  padding: 15px;
  height: 100%;
}

.left, .right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo {
  cursor: pointer;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
  border-right: 1px solid #35363a;
  padding: 0px 25px;
}
