.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  border: none;
  background-color: #35363a;
  cursor: pointer;
  transition: 0.3s;
}

.iconButton:hover {
  background-color: hsl(228, 5%, 30%);
}
