.card {
  background-color: #35363a;
  padding: 15px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  text-align: center;
}

.title {
  font-weight: 500;
  font-size: 15px;
  color: #fff;
}

.description {
  text-align: justify;
  font-size: 14px;
  color: #818282;
}
