.card {
  background-color: #35363a;
  padding: 15px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  display: flex;
  gap: 15px;
}

.name {
  font-weight: 500;
  font-size: 15px;
  color: #fff;
}

.headline {
  font-size: 13px;
  color: #818282;
}

.description {
  font-size: 14px;
  color: #818282;
}
