.tabs {
  padding: 15px 25px;
}

.sections {
  display: flex;
  list-style: none;
  width: 100%;
  border-bottom: 1px solid #35363a;
}

.section {
  color: #fff;
  padding: 10px 25px;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid #fff387;
}

.panel {
  margin-top: 25px;
}
